<div class='container'>
    <div class='enterbutton'>
        <div class='center-align'>
            <a href='/enter' class="waves-effect waves-light indigo darken-3 btn-large z-depth-5">E n t e r</a>
        </div>
    </div>
</div>